
@{
    ViewBag.Title = "Favoritas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Movie/PopularStyle.css" rel="stylesheet" />


@foreach (ML.Movie favorita in Model.Movies)
{
    <div class="movie_card" id="bright">
        <div class="info_section">
            <div class="movie_header">
                <img class="locandina" src="https://image.tmdb.org/t/p/original/@favorita.poster_path" />
                <h1>@favorita.original_title</h1>
                <h4>@favorita.release_date</h4>
                <div>
                    <input type="checkbox" id="heart" checked="checked" onchange="DeleteFavorito(@favorita.id, this);" />
                    <label for="heart">
                        Check me!
                    </label>
                </div>
                @*<span class="minutes">117 min</span>*@
                @*<p class="type">Action, Crime, Fantasy</p>*@
            </div>
            <div class="movie_desc">
                <p class="text">
                    @favorita.overview
                </p>
            </div>
            <div class="movie_social">
                <ul>
                    <li><i class="material-icons">share</i></li>
                    <li><i class="material-icons"></i></li>
                    <li><i class="material-icons">chat_bubble</i></li>
                </ul>
            </div>
        </div>
        <img class="blur_back " src="https://image.tmdb.org/t/p/original/@favorita.backdrop_path">

    </div>
}




<script src="~/Scripts/Movie/Favorito.js"></script>
